@{
    ViewBag.Title = "Trending movies";
}

<h2 class="centreText">Trending Movies</h2>

<ul data-bind="foreach: movies" class="posterGridContainer">
    <li class="posterGridCell">
        <img data-bind="attr: { src: posterUrl }" class="posterGridImg" />@*<h3 data-bind="text: title"></h3>*@
        <div class="iconContainer">
            <div class="left">
                <i class="fa fa-star"></i><span data-bind="text: rating" class="iconDetail"></span>
            </div><div class="right">
                <i class="fa fa-calendar"></i><span data-bind="text: year" class="iconDetail"></span>
            </div>
        </div>
        <div class="detailContainer">
            <div class="details">
                <h3 data-bind="text: title"></h3>
                <h4 data-bind="text: tagline"></h4>
                <p data-bind="text: overview"></p>
            </div>
        </div>
    </li>
</ul>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="/Scripts/Site/main.js"></script>
}